@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

:root {
  --primary-color: #ff9aa2;
  --secondary-color: #ffc1cc;
  --bg-color: #fff5f7;
  --font-family: "Roboto Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: #252525;
  font-weight: 400;
  background-color: var(--bg-color);
  border-bottom: 1.6rem solid var(--primary-color);
  min-height: 100vh;
  padding: 3.2rem 0 6rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.header {
  align-self: stretch;
}

.header h1 {
  /* Non-accessible color */
  color: var(--primary-color);
  /* color: #af8602; */
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 8rem;
  background-color: #ff9aa2;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.donburis {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

@media (max-width: 600px) {
  .donburis {
    grid-template-columns: 1fr;
  }
}

.donburi {
  display: flex;
  gap: 3.2rem;
}

.donburi img {
  border-radius: 50%;
  width: 15rem;
  aspect-ratio: 1;
  align-self: start;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.donburi img:hover {
  transform: scale(1.1);
}

.donburi div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
}

.donburi h3 {
  font-size: 2rem;
  font-weight: 400;
}

.donburi p {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.donburi span {
  display: block;
  font-size: 1.6rem;
}

.donburi.sold-out {
  color: #888;
}

.donburi.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.footer {
  font-size: 1.4rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #ffc1cc;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  outline: none;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(255, 154, 162, 0.5);
}

.btn:hover {
  background-color: #ff9aa2;
}
